$header_background_color: grey;
$main_background_color: black;
$header_text_color: #eee;

$general_padding: 35px 0;

$title_transform: uppercase;

$select_spacing: 20px;
$select_padding: 8px;
$select_border: 1px solid darkgrey;
$main_card_img_size: 100%;

$card_hover: pointer;
